<section class="footer">

  <div class="box-container">

    <div class="box">
      <h3>our locations</h3>
      <a href="#"> <i class="fas fa-map-marker-alt"></i> Tunisia</a>
    </div>

    <div class="box">
      <h3>quick links</h3>
      <a href="./index.html"> <i class="fas fa-arrow-right"></i> home </a>
      <a href="#"> <i class="fas fa-arrow-right"></i> featured </a>
      <a href="#"> <i class="fas fa-arrow-right"></i> Category </a>
      <a href="#"> <i class="fas fa-arrow-right"></i> reviews </a>
      <a href="./feedback.html"> <i class="fas fa-arrow-right"></i> feedback </a>
    </div>

    <div class="box">
      <h3>extra links</h3>
      <a href="#"> <i class="fas fa-arrow-right"></i> account info </a>
      <a href="#"> <i class="fas fa-arrow-right"></i> ordered items </a>
      <a href="#"> <i class="fas fa-arrow-right"></i> privacy policy </a>
      <a href="#"> <i class="fas fa-arrow-right"></i> payment method </a>
      <a href="#"> <i class="fas fa-arrow-right"></i> our serivces </a>
    </div>

    <div class="box">
      <h3>contact info</h3>
      <a href="#"> <i class="fas fa-phone"></i> +216 93189044 </a>
      <a href="#"> <i class="fas fa-envelope"></i> omardrissi06&#64;gmail.com </a>
      <a href="#"> <i class="fas fa-envelope"></i> omar.drissi&#64;esprit.tn </a>
      <img src="assets/media/books/worldmap.png" class="map" alt="">
    </div>

  </div>

  <div class="share">
    <a href="#" class="fab fa-facebook-f"></a>
    <a  class="fab fa-twitter"></a>
    <a href="X" class="fab fa-instagram"></a>
    <a  class="fab fa-linkedin"></a>
  </div>

  <div class="credit"> created by <span>Drissi Omar </span>copyright &copy;2024 all rights reserved! </div>

</section>
