/* account-activation.component.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 450px;
}

.activation-message, .activation-error {
  text-align: center;
}

.activation-error {
  color: red;
}

